part1_diyexercise/src/main/mule/diyexercise4-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d3d2c400-42e7-42c0-8bb8-1c35d75ac706" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="99c9dd81-af26-43ca-aa70-bed5b604f8e5" >
		<db:oracle-connection host="localhost" user="system" password="system" serviceName="xe" />
	</db:config>
	<flow name="diyexercise4-1Flow" doc:id="8a77c979-60ed-45dc-8247-c8de2be83521" >
		<http:listener doc:name="Listener" doc:id="beafc423-561b-431d-b039-64ef1dbac599" config-ref="HTTP_Listener_config" path="/accounts/{ID}"/>
		<db:select doc:name="Select" doc:id="bc4a07c3-1a64-45b3-830b-7fcaf4008da4" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from flights_customers where cust_id = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cf43ebd8-5739-4135-8d91-684ac5d8f560" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
